.support_window_border {
    /* Position */
    position: fixed;
    bottom: 114px;
    /* Size */
    width: 420px;
    height: 530px;
    max-width: calc(100% - 48px);
    max-height: calc(100% - 48px);
    /* Border */
    border-radius: 12px;
    background: linear-gradient(90deg, #df94f4, #3272ff 50%, #b5d5ef);
    padding: 2px;
    /* Shadow */
    box-shadow: 0px 0px 16px 6px rgba(0, 0, 0, 0.33);
}

.support_window {
    /* Position */
    position: fixed;
    bottom: 116px;
    /* Size */
    width: 420px;
    height: 530px;
    max-width: calc(100% - 48px);
    max-height: calc(100% - 48px);
    background-color: white;
    /* Border */
    border-radius: 10px;
    overflow: hidden;
}

.email_form_window {
    width: 100%;
    overflow: hidden;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
}

.stripe {
    position: relative;
    top: -45px;
    width: 100%;
    height: 308px;
    background-color: #7a39e0;
    transform: skewY(-12deg);
}

.top_text {
    position: relative;
    width: 100%;
    top: 15%;
    color: white;
    font-size: 24px;
    font-weight: 600;
    font-family: sans-serif;
}

.email_input {
    width: 66%;
    text-align: center;
    outline: none;
    padding: 12px;
    border-radius: 12px;
    border: 2px solid #7a39e0;
}

.bottom_text {
    position: absolute;
    width: 100%;
    top: 60%;
    color: #7a39e0;
    font-size: 20px;
    font-weight: 600;
    font-family: sans-serif;
}

.loading_div {
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: white;
}

.loading_icon {
    color: #7a39e0;
    position: absolute;
    top: calc(50% - 51px);
    left: calc(50% - 51px);
    font-weight: 600;
}

.chat_engine_window {
    width: 100%;
    background-color: #fff;
}

.div_style {
    position: absolute;
    bottom: 5px;
    width: 100%;
}

/* Overrides for RCE elements */

.rce-input {
    font-family: mona-sans-black, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.rce-container-mlist {
    padding-top: 5px;
}

.rce-container-input {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    border-top: rgb(235, 235, 235) 1px solid;
}

/* TODO: add disabled className to Button component and update both active and disabled states
.rce-button {

} */